<%- include("partials/header") %>
<div class="jumbotron">
    <div class="title">
        <h1 style="text-align: center;">Search for a movie</h1>
    </div>
    <div style="width: 50%; margin: 25px auto;">
        <form action="/results" method="GET" autocomplete="off">
            <div class="form-group">
                <input class="form-control" type="text" name="search" placeholder="search by movie title">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Search</button>
            </div>
        </form>
    </div>
</div>
<%- include("partials/footer") %>
