body, .jumbotron {
    background-color: white;
}

#flash {
    padding-top: 10px;
}

.alert {
    padding: 0 1.25rem;
}


.title {
    padding-top: 5%;
}

#show {
    display: flex;
}

.movie-info {
    padding: 5%;
}

.btn {
    margin: 2.5px;
}

.figure {
    padding: 10px;
    height: 100%;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.figure-caption {
    color: black;
}

.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}

nav .navbar-nav li a { 
    color: white !important;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.all-ratings {
    padding: 2.5%;
    margin: 10px;
}
