<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Results for "<%= query %>"</h1>
        <div style="width: 90%; margin: 25px auto;">
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <div class="col-md-12">
                    <h4><%= error %></h4>
                </div>
            </div>
            <div class="row">
                <a class="btn btn-secondary" href="/" role="button">Go back to Search</a>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
